In [1]:
import requests as req
from bs4 import BeautifulSoup as bs

url = "https://finance.naver.com/sise/sise_market_sum.naver"
res = req.get(url)

In [2]:
soup = bs(res.text, "lxml")
tltle = soup.select('a.tltle')
tltle_list=[]
for i in tltle:
    tltle_list.append(i.text)
print(tltle_list)

['삼성전자', 'SK하이닉스', 'LG에너지솔루션', '삼성바이오로직스', '현대차', '삼성전자우', '기아', '셀트리온', 'POSCO홀딩스', 'LG화학', 'NAVER', '삼성물산', 'KB금융', '삼성SDI', '카카오', '현대모비스', '포스코퓨처엠', '신한지주', '하나금융지주', '삼성생명', 'LG전자', '메리츠금융지주', 'LG', 'SK', '한국전력', '삼성화재', '카카오뱅크', 'SK이노베이션', 'HMM', '에코프로머티', '삼성에스디에스', 'KT&G', 'SK텔레콤', '크래프톤', '우리금융지주', '기업은행', 'KT', '포스코인터내셔널', '삼성전기', '두산에너빌리티', 'HD현대중공업', '고려아연', 'SK스퀘어', '포스코DX', '대한항공', '하이브', 'S-Oil', 'HD한국조선해양', '한화에어로스페이스', 'KODEX CD금리액티브(합성)']

In [3]:
number = soup.select('#contentarea > div.box_type_l > table.type_2 > tbody td:nth-child(3)')
number_list=[]
for i in number:
    number_list.append(i.text)
print(number_list)

['73,400', '150,300', '394,500', '821,000', '247,500', '62,700', '117,500', '180,600', '436,500', '496,500', '204,500', '168,100', '68,000', '389,000', '59,300', '243,500', '292,000', '43,900', '58,100', '83,800', '99,200', '77,600', '99,900', '202,000', '22,900', '307,000', '30,200', '126,300', '18,310', '182,000', '161,500', '91,600', '53,300', '234,000', '14,950', '13,970', '41,200', '58,700', '137,300', '15,530', '109,800', '463,000', '69,500', '57,900', '23,450', '204,000', '74,600', '118,500', '158,300', '1,027,310']

In [4]:
len(soup.select('a.tltle'))

50

In [5]:
len(soup.select('#contentarea > div.box_type_l > table.type_2 > tbody td:nth-child(3)'))

50

In [7]:
tltle_list=[]
number_list=[]
num_list=[]
for i in range(len(tltle)) :
    tltle_list.append(tltle[i].text)
    number_list.append(number[i].text)
    num_list.append(i+1)

In [9]:
print(tltle_list)
print(number_list)
print(num_list)

['삼성전자', 'SK하이닉스', 'LG에너지솔루션', '삼성바이오로직스', '현대차', '삼성전자우', '기아', '셀트리온', 'POSCO홀딩스', 'LG화학', 'NAVER', '삼성물산', 'KB금융', '삼성SDI', '카카오', '현대모비스', '포스코퓨처엠', '신한지주', '하나금융지주', '삼성생명', 'LG전자', '메리츠금융지주', 'LG', 'SK', '한국전력', '삼성화재', '카카오뱅크', 'SK이노베이션', 'HMM', '에코프로머티', '삼성에스디에스', 'KT&G', 'SK텔레콤', '크래프톤', '우리금융지주', '기업은행', 'KT', '포스코인터내셔널', '삼성전기', '두산에너빌리티', 'HD현대중공업', '고려아연', 'SK스퀘어', '포스코DX', '대한항공', '하이브', 'S-Oil', 'HD한국조선해양', '한화에어로스페이스', 'KODEX CD금리액티브(합성)']
['73,400', '150,300', '394,500', '821,000', '247,500', '62,700', '117,500', '180,600', '436,500', '496,500', '204,500', '168,100', '68,000', '389,000', '59,300', '243,500', '292,000', '43,900', '58,100', '83,800', '99,200', '77,600', '99,900', '202,000', '22,900', '307,000', '30,200', '126,300', '18,310', '182,000', '161,500', '91,600', '53,300', '234,000', '14,950', '13,970', '41,200', '58,700', '137,300', '15,530', '109,800', '463,000', '69,500', '57,900', '23,450', '204,000', '74,600', '118,500', '158,300', '1,027,310']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [12]:
import pandas as pd
dic = {'순서' : num_list, '종목명' : tltle_list,  '현재가' : number_list}
pd.DataFrame(dic)
cos = pd.DataFrame(dic)
cos.set_index("순서" ,inplace = True)
cos

                  종목명        현재가
순서
1                삼성전자     73,400
2              SK하이닉스    150,300
3            LG에너지솔루션    394,500
4            삼성바이오로직스    821,000
5                 현대차    247,500
6               삼성전자우     62,700
7                  기아    117,500
8                셀트리온    180,600
9            POSCO홀딩스    436,500
10               LG화학    496,500
11              NAVER    204,500
12               삼성물산    168,100
13               KB금융     68,000
14              삼성SDI    389,000
15                카카오     59,300
16              현대모비스    243,500
17             포스코퓨처엠    292,000
18               신한지주     43,900
19             하나금융지주     58,100
20               삼성생명     83,800
21               LG전자     99,200
22            메리츠금융지주     77,600
23                 LG     99,900
24                 SK    202,000
25               한국전력     22,900
26               삼성화재    307,000
27              카카오뱅크     30,200
28            SK이노베이션    126,300
29                HMM     18,310
30             에코프로머티    182,000
31            삼성에스디에스    161,500
32               KT&G     91,600
33              SK텔레콤     53,300
34               크래프톤    234,000
35             우리금융지주     14,950
36               기업은행     13,970
37                 KT     41,200
38           포스코인터내셔널     58,700
39               삼성전기    137,300
40            두산에너빌리티     15,530
41            HD현대중공업    109,800
42               고려아연    463,000
43              SK스퀘어     69,500
44              포스코DX     57,900
45               대한항공     23,450
46                하이브    204,000
47              S-Oil     74,600
48           HD한국조선해양    118,500
49          한화에어로스페이스    158,300
50  KODEX CD금리액티브(합성)  1,027,310