In [1]:
# 인공지능 반과 빅데이터 반의 취업 진로를 데이터 프레임으로 만들어보자

In [2]:
import pandas as pd

In [12]:
df_big = pd.DataFrame([['빅데이터분석가',6],
                      ['자영업',7],
                      ['웹개발자',4],
                      ['대학원',3],
                      ['합계',20]],
                     columns=['빅데진로희망','빅데도수'])
df_big

    빅데진로희망  빅데도수
0  빅데이터분석가     6
1      자영업     7
2     웹개발자     4
3      대학원     3
4       합계    20

In [13]:
df_ai = pd.DataFrame([['빅데이터분석가',12],
                      ['자영업',14],
                      ['웹개발자',10],
                      ['대학원',14],
                      ['합계',50]],
                     columns=['인공진로희망','인공도수'])
df_ai

    인공진로희망  인공도수
0  빅데이터분석가    12
1      자영업    14
2     웹개발자    10
3      대학원    14
4       합계    50

In [14]:
df_all = pd.concat([df_big, df_ai['인공도수']], axis=1)
df_all

    빅데진로희망  빅데도수  인공도수
0  빅데이터분석가     6    12
1      자영업     7    14
2     웹개발자     4    10
3      대학원     3    14
4       합계    20    50

In [15]:
# 도수 : 데이터의 빈도수(개수)
# 단순하게 도수로만 비교를 한다면 전체 모수가 다를때 정확한 비교가 불가능하다.
# 상대도수

In [20]:
big_per = df_all['빅데도수'] / 20
big_per.name = '빅데상대도수'
big_per

0    0.30
1    0.35
2    0.20
3    0.15
4    1.00
Name: 빅데상대도수, dtype: float64