### 머신러닝 시험 답안지(MLTEST_submission)
- 파일명에 본인 성명 기입하시오(Enter your name in the file name.)
- 수업 중 배웠던 내용을 상기하여 최선을 다해 문제 풀어주세요.(Recall what you learned in class and do your best to solve the problem.)

#### Question1

문제 1-1.

지도학습 : 1, 4, 5, 8

비지도학습 : 3, 6

문제 1-2.

ㅁ - ㄱ - ㄷ - ㄴ - ㄹ

#### Question2

문제 2-1.

통계학적 : ㄱ,ㄷ / 머신러닝 기반 : ㄴ,ㄹ

#### Question3

문제 3-1.

지도학습

문제 3-2.

비지도학습

#### Question4

문제 4-1.

1, 3

문제 4-2.

과적합

문제 4-3.

Train : test = 7 : 3

#### Question5

문제 5-1.

2

#### Question6

문제 6-1.

1, 4

문제 6-2.

In [1]:
# 도구 불러오기(Bring up tools)
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [2]:
# (1) iris data 불러오기 (Import iris data)

In [3]:
iris_data = load_iris()

In [4]:
# (2) iris data 문제와 답 분리 (iris data problem and answer separation)

In [5]:
iris_df = pd.DataFrame(iris_data.data, columns = iris_data.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
# (3) 분리된 문제와 답을 train data와 test data로 분리(Separate problems and answers into train data and test data)

In [7]:
X = iris_df
y = iris_data.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 503)

In [8]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(105, 4) (105,) (45, 4) (45,)

In [9]:
# (4) KNN분류기 모델 생성 (이웃 수는 3) (Create a KNN classifier model (the number of neighbors is 3))

In [10]:
model_knn = KNeighborsClassifier(n_neighbors=3)

In [11]:
# (5) 교차검증 실행 (5 조각으로 나눠 진행) (Cross-validation run (split into 5 pieces))

In [12]:
rs = cross_val_score(model_knn, X_train.values, y_train, cv=5)

In [13]:
# (6) 결과 확인(실행결과 참고) (Check the result (refer to the execution result))

In [14]:
print(rs)
print(rs.mean())

[0.9047619 1.        1.        1.        0.9047619]
0.9619047619047618

#### Question7

문제 7-1.

2

#### Question8

문제 8-1.

원핫인코딩

문제 8-2.

1, 3

#### Question9

문제 9-1.

2, 3, 7, 8

문제 9-2.

3, 5, 7, 8

문제 9-3.

(1) max_depth
(2) max_leaf_nodes
(3) min_samples_split
(4) min_samples_leaf

#### Question10

문제 10-1.

1, 3, 5, 6

문제 10-2.

1, 3, 4

#### Question11

문제 11-1.

1, 3, 5

#### Question12

문제 12-1.

2, 3, 4, 5

### 수고하셨습니다 .