In [1]:
# 파란 색상일 때 b : 아래에 셀 추가
# 파란 색상일 때 a : 위에 셀 추가
# 파란 색상일 때 dd : 셀 삭제
# 파란 색상일 때 enter : Edit Mode로 전환
# 파란 색상일 때 x : 셀 잘라내기
# 파란 색상일 때 v : 셀 붙여넣기
# 파란 색상일 때 m : 마크다운(메모장)
# 파란 색상일 때 y : 마크다운해제

## 01 변수

In [2]:
num = 3
print(num)

3

In [3]:
num1 = 13
print(num1)
num2 = 25
print(num2)
num2 = 77
print(num2)

13
25
77

In [4]:
num3 = 3.1425
print(num3)
num4 = 1.25
print(num4)
num4 = 3.12
print(num4)

3.1425
1.25
3.12

In [5]:
str1 = "Funny python"
str2 = 'Easy python'
print(str1, "|", str2)

Funny python | Easy python

In [6]:
a = 10
b = 15
print(a,b)
print(a+b)

10 15
25

In [7]:
a, b = 10, 15
print(a, b)

10 15

In [8]:
str1, str2 = 'python', 'python'
print(str1,"|", str2)

python | python

In [9]:
str1 = str2 = 'python'
print(str1, "|", str2)

python | python

In [10]:
x , y = 100, 200
sum1 = x + y
print(sum1)

300

In [11]:
sum([x,y])

300

In [12]:
s = "she's gone"
print(s)

she's gone

In [ ]:
# 여러줄로 구성된 문자열을 변수에 대입하고 싶을 때
# 여러줄로 구성된
# 문자열을 변수에
# 대입하고 싶을 때
str1 = "여러줄로 구성된\n문자열을 변수에\n대입하고 싶을 때"
print(str1, "\n")
str2 = """여러줄로 구성된 
문자열을 변수에 
대입하고 싶을 때"""
print(str2)

In [14]:
# 문자열 포맷팅
# 문자 내부에서 자주 바뀌는 부분을 변수 처리해서 원하는 결과를 출력하는 방법
am = '정보처리기사'
pm = '파이썬'

s=f"""
1교시 : {am}
2교시 : {am}
3교시 : {am}
4교시 : {am}
5교시 : {pm}
6교시 : {pm}
7교시 : {pm}"""
print(s)

1교시 : 정보처리기사
2교시 : 정보처리기사
3교시 : 정보처리기사
4교시 : 정보처리기사
5교시 : 파이썬
6교시 : 파이썬
7교시 : 파이썬

### 인덱싱 / 슬라이싱(1회차)
- 인덱싱 : 무엇인가를 '가리킨다' 라는 의미
- 슬라이싱 : 무엇인가를 '잘라낸다' 라는 의미

In [6]:
s = "My name is AK"
print(s[11:13])
print(s[-2:])

AK
AK

In [16]:
print(s[:2], s[8:10], s[-2:])

My is AK

In [19]:
# 슬라이싱에서 값을 생략하는 것에 대한 의미
# 변수[시작 인덱스 : 끝값 인덱스 + 1]
# 시작값이 생략되는 경우 -> 데이터의 처음부터(인덱스 번호 0번 부터)
# 끝값이 생략되는 경우 -> 데이터의 끝부분까지(인덱스 번호 마지막까지)
# 문자열의 처음부터 끝까지 모든 문자를 가져오고 싶으면 어떻게 해야할까

In [20]:
print(s[:])

My name is AK

In [31]:
# 다음과 같은 문자열에서 날짜와 날씨를 따로 뽑아서 출력해보자
s = '2024년 1월 30일의 날씨는 맑음입니다.'
print("날짜 : " + s[:12])
print("날씨 : " + s[-6:-4])

날짜 : 2024년 1월 30일
날씨 : 맑음

In [33]:
# 문자열 포맷팅 실습
# 문자열 포맷팅 : 문자 내부의 특정한 값을 바꿔야 할 경우 사용
# 1 : %d 포맷팅
day = 30
s = '오늘은 1월 %d일 입니다.'
print(s %day)

오늘은 1월 30일 입니다.

In [37]:
month = 2
day = 11
s = '오늘은 %d월 %d일 입니다.'
print(s %(month, day))

오늘은 2월 11일 입니다.

In [39]:
# 2. foramt 함수를 이용한 포맷팅
month = 2
day = 11
s = '오늘은 {}월 {}일 입니다.'
print(s .format(month, day))

오늘은 2월 11일 입니다.

In [41]:
# 3. f포맷팅
month = 2
day = 11
s = f'오늘은 {month}월 {day}일 입니다.'
print(s)

오늘은 2월 11일 입니다.

In [51]:
x = 100
y = 200
sum2 = x+y
print("=====% 사용=====")
print("%d와 %d의 합은 %d입니다." %(x,y,sum2))
print("==format 함수==")
print("{}와 {}의 합은 {}입니다." .format(x,y,sum2))
print("====f포맷팅====")
print(f"{x}와 {y}의 합은 {sum2}입니다.")

=====% 사용=====
100와 200의 합은 300입니다.
==format 함수==
100와 200의 합은 300입니다.
====f포맷팅====
100와 200의 합은 300입니다.

In [65]:
s = "     Hi?, Hi!, Hi~       "
print(s)
 # strip() : 문자의 양쪽 공백을 없애주는 함수
print(s.strip())
# replace(기존의 문자, 바꿀문자)
print(s.replace(" ", ""))
# split()
print(s.strip().split(","))

     Hi?, Hi!, Hi~
Hi?, Hi!, Hi~
Hi?,Hi!,Hi~
['Hi?', ' Hi!', ' Hi~']