In [45]:
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from tqdm.notebook import tqdm
import time
import pandas as pd

In [46]:
driver=wb.Chrome()
url = "https://naver.com/"
driver.get(url)

In [47]:
search = driver.find_element(By.ID, "query")

In [48]:
search.send_keys("크롤링")
search.send_keys(Keys.ENTER)

In [49]:
driver=wb.Chrome()
url= "http://corners.gmarket.co.kr/Bestsellers"
driver.get(url)

In [50]:
title_list = []
title = driver.find_elements(By.CSS_SELECTOR, "#gBestWrap > div.best-list > ul > li > a")
for i in range(1,21):
    title_list.append(title[i].text)

In [51]:
num_list =[]
price_list=[]
price = driver.find_elements(By.CSS_SELECTOR, "#gBestWrap > div.best-list > ul > li > div.item_price > div.s-price > strong > span")
for i in range(1,21):
    num_list.append(i)
    price_list.append(price[i].text)

In [52]:
dic = {'순서' : num_list, '상품명' : title_list, '가격' : price_list}
gmarket = pd.DataFrame(dic)
gmarket.set_index("순서" ,inplace = True)
gmarket

                                                  상품명        가격
순서
1                       (최종2.3만)차이슨 헤어 드라이어 드라이기+노즐5개   31,850원
2                      [한성기업]한성기업 크래미 몬스터크랩 72g X 15개   17,900원
3     [메가박스](유니버스클럽 전용 쿠폰적용가 5천원) 메가박스 일반예매권 2D-주중/주말   15,000원
4             (선)브래비 유니 TRAINING SET F-ZIP N231UFT010   79,470원
5                [버블트리]15%+10% 버블트리 봄신상 스쿨룩 베이비페어 특가전   15,000원
6                [하기스]하기스 네이처메이드 밤부 밴드/팬티 기저귀 1박스 모음전   67,900원
7   BSP D9 휴대용 모바일 게이밍 컨트롤러 안드로이드 아이폰 태블릿 스위치 PC 윈...   43,600원
8                      [서울우유]멸균우유 200ml 24입+24입 (2박스)   26,970원
9   수퍼맘스토리카페/총 120종의 대작/보카사이언스/Visual Literacy/Tal...  178,800원
10                   [하기스]하기스 맥스드라이 밴드/팬티 기저귀 1박스 모음전   59,900원
11                [포스트]포스트 아몬드후레이크 620gx3 +밀폐용기2P(증정)   16,170원
12  (15+5%쿠폰)비비안 비너스 외 고탄력 팬티 스타킹 10매 7매 벌크 학생 압박 ...   10,900원
13  ((15+5%쿠폰 오늘만 역마진SALE)) 데이뮤즈 봄신상 트렌치코트/점퍼/자켓/팬...   13,700원
14  [로코엘라](15%+5%쿠폰+무료반품) 홈쇼핑 1+1.SET 니트/팬츠/패딩 외 그...   11,580원
15                    [제주삼다수]제주삼다수 무라벨 2L 24병 /생수전문배송   22,800원
16               여수사나이 국내산 돌산갓김치 1.5kg 남도김치 산지직송 당일생산   11,000원
17                 [바브키즈]바브키즈 10+15% 쿠폰 봄상품 출시 상하복 모음    9,300원
18  [LG전자]혜택가 38만원대 LG전자 휘센 제습기 20L 블루 DQ202PBBC 빠른배송  418,270원
19                             못난이 한라봉 4.5kg 혼합과 벌크포장   19,010원
20           [나무야나무야]잘풀리는집 나무야나무야 도톰한3겹 순수 27m 30롤 3팩   31,900원

In [60]:
driver = wb.Chrome()
url = "https://www.melon.com/chart/"
driver.get(url)

In [62]:
title_list=[]
title = driver.find_elements(By.CSS_SELECTOR, "#lst50 > td > div > div > div.ellipsis.rank01 > span > a")
for i in title:
    title_list.append(i.text)
print(len(title_list))
print(title_list)

50
['밤양갱', 'Love wins all', '첫 만남은 계획대로 되지 않아', 'To. X', '홀씨', '비의 랩소디', 'EASY', 'Love 119', 'Shopper', 'Perfect Night', '에피소드', '그대만 있다면 (여름날 우리 X 너드커넥션 (Nerd Connection))', 'Drama', '헤어지자 말해요', 'Super Lady', 'Wife', '인사', '사랑은 늘 도망가', '꿈', 'Seven (feat. Latto) - Clean Ver.', '나는 아픈 건 딱 질색이니까', 'I AM', 'MANIAC', '모래 알갱이', '우리들의 블루스', 'Get A Guitar', 'Do or Die', 'Love Lee', '다시 만날 수 있을까', '너의 모든 순간', 'Baddie', '이제 나만 믿어요', '예뻤어', '사막에서 꽃을 피우듯', '무지개', 'You & Me', '관객이 될게 (I stan U)', '한 페이지가 될 수 있게', '퀸카 (Queencard)', '잘 지내자, 우리 (여름날 우리 X 로이킴)', 'London Boy', 'Super Shy', 'Hype Boy', 'Shh.. (Feat. 혜인(HYEIN), 조원선 & Special Narr. 패티김)', '아버지', 'Polaroid', 'Ditto', '후라이의 꿈', '인생찬가', '사랑인가 봐']

In [63]:
title2 = driver.find_elements(By.CSS_SELECTOR, "#lst100 > td > div > div > div.ellipsis.rank01 > span > a")
for i in title2:
    title_list.append(i.text)
print(len(title_list))
print(title_list)

100
['밤양갱', 'Love wins all', '첫 만남은 계획대로 되지 않아', 'To. X', '홀씨', '비의 랩소디', 'EASY', 'Love 119', 'Shopper', 'Perfect Night', '에피소드', '그대만 있다면 (여름날 우리 X 너드커넥션 (Nerd Connection))', 'Drama', '헤어지자 말해요', 'Super Lady', 'Wife', '인사', '사랑은 늘 도망가', '꿈', 'Seven (feat. Latto) - Clean Ver.', '나는 아픈 건 딱 질색이니까', 'I AM', 'MANIAC', '모래 알갱이', '우리들의 블루스', 'Get A Guitar', 'Do or Die', 'Love Lee', '다시 만날 수 있을까', '너의 모든 순간', 'Baddie', '이제 나만 믿어요', '예뻤어', '사막에서 꽃을 피우듯', '무지개', 'You & Me', '관객이 될게 (I stan U)', '한 페이지가 될 수 있게', '퀸카 (Queencard)', '잘 지내자, 우리 (여름날 우리 X 로이킴)', 'London Boy', 'Super Shy', 'Hype Boy', 'Shh.. (Feat. 혜인(HYEIN), 조원선 & Special Narr. 패티김)', '아버지', 'Polaroid', 'Ditto', '후라이의 꿈', '인생찬가', '사랑인가 봐', 'ETA', '천상연', 'A bientot', '사건의 지평선', 'Standing Next to You', '어떻게 이별까지 사랑하겠어, 널 사랑하는 거지', '사랑할 수밖에', '기억해줘요 내 모든 날과 그때를', 'Yes or No (Feat. 허윤진 of LE SSERAFIM, Crush)', '사랑하지 않아서 그랬어', '취중고백', 'Spicy', '그대가 내 안에 박혔다(그내박)', '심(心)', '모든 날, 모든 순간 (Every day, Every Moment)', '이브, 프시케 그리고 푸른 수염의 아내', '연애편지', 'Dynamite', "I Don't Think That I Like Her", '봄날', 'LOVE DIVE', '별 떨어진다 (I Do)', '손오공', '첫 눈', '사랑..그게 뭔데', '해요 (2022)', '주저하는 연인들을 위해', 'Kitsch', '음악의 신', 'Steal The Show (From “엘리멘탈”)', '파이팅 해야지 (Feat. 이영지)', '그대가 있는 곳, 언제 어디든', 'After LIKE', '물론', '다정히 내 이름을 부르면', 'Discord', 'OMG', 'Dangerously', 'Fast Forward', '그중에 그대를 만나', 'UNFORGIVEN (feat. Nile Rodgers)', '건물 사이에 피어난 장미 (Rose Blossom)', 'Attention', 'Butter', 'Smoke (Prod. Dynamicduo, Padi)', 'Merry PLLIstmas', 'I Love You', 'Bubble', '여섯 번째 여름', '나에게 그대만이']

In [78]:
singer_list = []
singer = driver.find_elements(By.CSS_SELECTOR, "#lst50 > td > div > div > div.ellipsis.rank02")
for i in singer:
    singer_list.append(i.text)
print(len(singer_list))
print(singer_list)

50
['비비 (BIBI)', '아이유', 'TWS (투어스)', '태연 (TAEYEON)', '아이유', '임재현', 'LE SSERAFIM (르세라핌)', 'RIIZE', '아이유', 'LE SSERAFIM (르세라핌)', '이무진', '너드커넥션 (Nerd Connection)', 'aespa', '박재정', '(여자)아이들', '(여자)아이들', '범진', '임영웅', '태연 (TAEYEON)', '정국', '(여자)아이들', 'IVE (아이브)', 'VIVIZ (비비지)', '임영웅', '임영웅', 'RIIZE', '임영웅', 'AKMU (악뮤)', '임영웅', '성시경', 'IVE (아이브)', '임영웅', 'DAY6 (데이식스)', '우디 (Woody)', '임영웅', '제니 (JENNIE)', '아이유', 'DAY6 (데이식스)', '(여자)아이들', '로이킴', '임영웅', 'NewJeans', 'NewJeans', '아이유', '임영웅', '임영웅', 'NewJeans', 'AKMU (악뮤)', '임영웅', '멜로망스']

In [79]:
singer2 = driver.find_elements(By.CSS_SELECTOR, "#lst100 > td > div > div > div.ellipsis.rank02")
for i in singer2:
    singer_list.append(i.text)
print(len(singer_list))
print(singer_list)

100
['비비 (BIBI)', '아이유', 'TWS (투어스)', '태연 (TAEYEON)', '아이유', '임재현', 'LE SSERAFIM (르세라핌)', 'RIIZE', '아이유', 'LE SSERAFIM (르세라핌)', '이무진', '너드커넥션 (Nerd Connection)', 'aespa', '박재정', '(여자)아이들', '(여자)아이들', '범진', '임영웅', '태연 (TAEYEON)', '정국', '(여자)아이들', 'IVE (아이브)', 'VIVIZ (비비지)', '임영웅', '임영웅', 'RIIZE', '임영웅', 'AKMU (악뮤)', '임영웅', '성시경', 'IVE (아이브)', '임영웅', 'DAY6 (데이식스)', '우디 (Woody)', '임영웅', '제니 (JENNIE)', '아이유', 'DAY6 (데이식스)', '(여자)아이들', '로이킴', '임영웅', 'NewJeans', 'NewJeans', '아이유', '임영웅', '임영웅', 'NewJeans', 'AKMU (악뮤)', '임영웅', '멜로망스', 'NewJeans', '이창섭', '임영웅', '윤하 (YOUNHA)', '정국', 'AKMU (악뮤)', '볼빨간사춘기', '화곡동 청개구리', '그루비룸 (GroovyRoom)', '임한별', '김민석', 'aespa', '순순희(기태)', 'DK(디셈버)', '폴킴', 'LE SSERAFIM (르세라핌)', '임영웅', '방탄소년단', 'Charlie Puth', '방탄소년단', 'IVE (아이브)', '디오 (D.O.)', '세븐틴 (SEVENTEEN)', 'EXO', '지아', '#안녕', '잔나비', 'IVE (아이브)', '세븐틴 (SEVENTEEN)', 'Lauv', '부석순 (SEVENTEEN)', '로이킴', 'IVE (아이브)', '허각', '경서예지, 전건호', 'QWER', 'NewJeans', 'Charlie Puth', '전소미', '김호중', 'LE SSERAFIM (르세라핌)', 'H1-KEY (하이키)', 'NewJeans', '방탄소년단', '다이나믹 듀오, 이영지', 'PLAVE', '안세하', 'STAYC(스테이씨)', 'PLAVE', '탑현']

In [80]:
num_list = []
for i in range(1,101):
    num_list.append(i)
print(num_list)
print(len(num_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
100

In [84]:
dic = {'순위' : num_list, '곡제목' : title_list, '가수명' : singer_list}
melon = pd.DataFrame(dic)
melon.set_index( "순위" ,inplace = True)
melon

                  곡제목           가수명
순위
1                 밤양갱     비비 (BIBI)
2       Love wins all           아이유
3    첫 만남은 계획대로 되지 않아     TWS (투어스)
4               To. X  태연 (TAEYEON)
5                  홀씨           아이유
..                ...           ...
96    Merry PLLIstmas         PLAVE
97         I Love You           안세하
98             Bubble   STAYC(스테이씨)
99           여섯 번째 여름         PLAVE
100          나에게 그대만이            탑현

[100 rows x 2 columns]

In [85]:
melon.to_csv('melon.csv', encoding="euc-kr")

In [86]:
driver= wb.Chrome()
url= "https://www.hsd.co.kr/menu/menu_list"
driver.get(url)

In [87]:
try : 
    for i in range(50):
        btn = driver.find_element(By.CSS_SELECTOR, "#btn_more > span > a")
        btn.click()
        time.sleep(1)
except :
    print("더보기가 완료 됬습니다.")

더보기가 완료 됬습니다.

In [88]:
title = driver.find_elements(By.CSS_SELECTOR, "div > div.item-text > h4")
price = driver.find_elements(By.CSS_SELECTOR, "div > div.item-text > div > strong")

94 94

In [89]:
title_list =[]
price_list = []
for i in range(len(title)):
    title_list.append(title[i].text)
    price_list.append(price[i].text)

In [90]:
dic = {'메뉴' : title_list, '가격' : price_list}
data = pd.DataFrame(dic, index=range(1, len(title_list)+1))
data

                    메뉴      가격
1          사골 조랭이떡 만둣국   5,900
2   한우 함박스테이크 & 반달 돈까스   8,900
3     한우함박스테이크&토네이도소세지   8,900
4                 해바라기  10,000
5                   매화  10,500
..                 ...     ...
90                  김치     400
91             무말랭이 무침     500
92                 한솥밥   1,000
93                 현미밥   1,700
94            리얼꿀 미니호떡   2,200

[94 rows x 2 columns]

In [ ]:
data.to_csv('menu.csv', encoding="euc-kr")