In [2]:
# 1
for i in range(1,7):
    print('*'*i)

*
**
***
****
*****
******

In [3]:
#2
num = int(input("줄 수 입력 >>"))
for i in range(1,num):
    print('*'*i)

줄 수 입력 >> 7

*
**
***
****
*****
******

In [23]:
#3
for i in range(1,7):
    print('*'*i)
for i in range(5,0,-1):
    print('*'*i)

*
**
***
****
*****
******
*****
****
***
**
*

In [5]:
#4
start = int(input("첫 번째 정수 입력 >>"))
end = int(input("첫 번째 정수 입력 >>"))
for i in range(start, end+1):
    print(i, end= " ")

첫 번째 정수 입력 >> 10
첫 번째 정수 입력 >> 30

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [6]:
#5
num1 = int(input("첫 번째 정수 입력 >>"))
num2 = int(input("두 번째 정수 입력 >>"))
mul = int(input("배수 입력 >>"))
sum1 = 0
for i in range(num1, num2+1):
    if (i%mul==0):
        sum1 += i
print(f'{mul}의 배수의 합 : {sum1}')

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 20
배수 입력 >> 2

2의 배수의 합 : 90

In [1]:
#6
s = ".nohtyp deen uoY ,trohs oot si efiL"
for i in range(len(s)-1,-1,-1):
    print(s[i],end='')

Life is too short, You need python.

In [16]:
#7
for i in range(2,10):
    for j in range(1,10):
        print(f'{i} * {j} = {i*j}', end= "\t")
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [17]:
#8
for i in range(1,10):
    for j in range(2,10):
        print(f'{j} * {i} = {i*j}', end= "\t")
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [21]:
#9
list1 = [1,30,7,9,17,3,5,23,44]
even = 0
odd = 0
for i in list1:
    if(i%2==0):
        even += 1
    else:
        odd += 1
print(f'짝수 {even}개, 홀수{odd}개')

짝수 2개, 홀수7개

In [3]:
#10
score_list = [["박매일", 89, 78, 99],
             ["김미희", 67, 88, 77],
             ["강예진", 100, 55, 96],
              ["최성우", 99, 99, 99]
             ]
python, java, db, avg = 0 ,0 ,0, 0
grade = ""
print("============================================")
print("이름\tPython\tJava\tDB\t평균\t학점")
print("============================================")
for i in score_list:
    avg = (i[1]+i[2]+i[3])//3
    if(avg >= 90):
        grade = "A"
    elif (avg >= 80):
        grade = "B"
    elif (avg >= 70):
        grade = "C"
    elif (avg >= 60):
        grade = "D"
    else:
        grade = "F"
    print(f'{i[0]}\t{i[1]}\t{i[2]}\t{i[3]}\t{avg}\t{grade}')
    python += i[1]
    java += i[2]
    db += i[3]
    avg = 0
print("============================================")
python = python // len(score_list)
java = java // len(score_list)
db = db // len(score_list)
print(f'평균\t{python}\t{java}\t{db}')

============================================
이름	Python	Java	DB	평균	학점
============================================
박매일	89	78	99	88	B
김미희	67	88	77	77	C
강예진	100	55	96	83	B
최성우	99	99	99	99	A
============================================
평균	88	80	92